params.assemblies = "$launchDir/assemblies.tsv"
params.reffile = "$launchDir/reference_genome/*"

params.gubbins_iterations = 100
params.bootstrap_replicates = 1000

// Reroot tree before dating
params.reroot_tree = false

// Number and size of subsampled trees
params.subsample_count = 25
params.subsample_tipcount = 500

// Number of trees to simulate from each subsampled tree
// Simulated trees will have the same topology but different branch lengths
// Branch lengths will be simulated based on tree dating results
params.simtrees = 1

// Number of bootstrap events to perform on each tree
// Used for calculating relative risks
params.nboot_on_simtree = 1

// Variable in the assembly table to focus risk analysis on
params.focus_by = "continent"

// Value of the variable chosen above to focus on
params.focus_on = "europe"

profiles {

    standard {
        process.executor = 'local'
        process.cpus = 10
        process.memory = "20 GB"

        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "/home/tamas/Containers"
    }
    
    cluster {
        process.executor = 'local'
        process.cpus = 30
        process.memory = "100 GB"

        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "/node8_R10/stamas/containers"
        singularity.runOptions = "--bind /node8_R10"
    }
}

