params.assemblies = "$launchDir/assemblies.tsv"
params.reffile = "$launchDir/reference_genome/*"

params.gubbins_iterations = 100
params.bootstrap_replicates = 1000

profiles {

    standard {
        process.executor = 'local'
        process.cpus = 10
        process.memory = "20 GB"

        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "/home/tamas/Programs/docker/nf"

        params.dbdir = "/home/tamas/BRC/databases"
        params.sourcedir = "/home/tamas/BRC/prophyl/test/genomes"
    }
    
    cluster {
        process.executor = 'local'
        process.cpus = 30
        process.memory = "100 GB"

        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "/node8_R10/stamas/docker/nf"
        singularity.runOptions = "--bind /node8_R10:/node8_R10"

        params.dbdir = "/node8_R10/kintses_lab/databases"
        params.sourcedir = "/node8_R10/kintses_lab/aci"
    }
}

